/* Header page */

/* Discussions page */

/* Help page */

/* rules page */
.rules {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.rulesTitle {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

/* Nav Bar settings */

.navbar navbar-expand-lg navbar-light bg-light {
    background-color: Black;
}

li a:hover {
    background-color: red;
}

/* Images */

/* Footer settings */
footer {
    background-color: cadetblue;
    padding: 10%;
    text-align: center;
    font-size: 36px;
    font-family: Arial, Helvetica, sans-serif;
}