/* Header page */

/* dark mode */

.dark-mode {
    background-color: black;
    color: white;
}

/* Discussions page */

/* Help page */

.postTitle {
    display: flex;
    justify-content: center;
}

/* rules page */
.rules {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.rulesTitle {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

/* Nav Bar settings */

.navbar navbar-expand-lg navbar-light bg-light {
    background-color: Black;
}

li a:hover {
    background-color: red;
}

/* Images */

/* homepage images */

/* #image1 {
    height: 400px;
    width: 400px;
}

#image2 {
    height: 400px;
    width: 400px;
} */

/* Footer settings */

/* footer stays at bottom of the page*/
.footer {
    /* position: fixed; */
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}